@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

html {
  font-family: sans-serif;
  color: white;
}

header {
  background: url(../imagenes/FONDO-01.png);
  background-size: cover;
  height: 1080px;
}

.div-principal2 {
  height: 15%;
}

.div-principal2 nav {
  height: 100%;
  border-bottom: 1px white solid;
}

.div-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 2%;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50%;
}

.indice {
  text-decoration: none;
  color: white;
}

.div-headerImagen {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-header {
  height: 117.45px;
  width: 417.83px;
}

/*Diseño responsive para el header ************************************************************************/
@media screen and (max-width: 500px) {
  body header {
    background: url(../archivos_movil/FONDO-1.png);
    background-size: cover;
    max-width: 500px;
  }
  .div-principal2 {
    height: 15%;
  }
  .div-principal2 nav {
    height: 100%;
    border-bottom: 1px white solid;
  }
  .div-header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10px;
  }
  .indice {
    text-decoration: none;
    color: white;
  }
  .div-headerImagen {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-header {
    height: 55.52px;
    width: 192.59px;
  }
}
/* Estilos para el main*/
main {
  /*background: url(imagenes/FONDO-02.jpg);
  background-size: cover;*/
  background-color: black;
  margin: 0;
  padding: 0;
  display: grid;
  /* width:1200px;---------------*/
  height: 5400px;
  grid-template-rows: repeat(5, 1080px);
}

/* Estilos de la seccion 1 */
.seccion1 {
  background-image: url(../imagenes/FONDO-02.png);
  display: flex;
  flex-direction: column;
}

.div1-seccion1 {
  display: flex;
  height: 70%;
  align-items: center;
}

.div1-seccion1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.imagen-seccion1 {
  margin-left: 30%;
  height: 50%;
  width: 50%;
}

.div2-seccion1 {
  height: 15%;
  display: flex;
  align-items: center;
  padding-right: 50%;
  margin-left: 2%;
}

.div3-seccion1 {
  display: flex;
  height: 15%;
}

.sub1div3-seccion {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: left;
  padding-left: 10%;
}

.sub2div3-seccion {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: right;
  padding-right: 10%;
}

@media screen and (max-width: 500px) {
  .seccion1 {
    background-image: url(../archivos_movil/FONDO-2.png);
    background-size: cover;
    max-width: 500px;
  }
  .div1-seccion1 {
    display: flex;
    height: 33%;
    align-items: flex-end;
  }
  .p1-seccion1 {
    display: none;
  }
  .imagen-seccion1 {
    margin-left: 0;
    height: 212.91px;
    width: 183.56px;
  }
  .div2-seccion1 {
    display: flex;
    height: 33%;
    margin: 0;
    padding: 20%;
  }
  .div3-seccion1 {
    display: flex;
    height: 33%;
    justify-content: center;
  }
  .sub1div3-seccion {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .sub2div3-seccion {
    display: none;
  }
}
/* Estilos de la seccion 2 */
.seccion2 {
  background: url(../imagenes/FONDO-03.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.div1-seccion2 {
  display: flex;
  align-items: center;
  height: 20%;
  padding-left: 3%;
}

.div2-seccion2 {
  height: 60%;
  display: flex;
  align-items: center;
  align-items: stretch;
  justify-content: center;
  padding: 2%;
}

.subdiv-seccion2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.img-seccion2 {
  height: 25%;
  width: 100%;
}

.div3-seccion2 {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
}

.boton1-seccion2 {
  display: flex;
  border-radius: 200px;
  height: 65px;
  width: 200px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.bymellon {
  text-decoration: none;
  color: white;
}

.imagen5 {
  width: 310.3px;
  height: 360px;
}

.texto-en-blanco {
  color: white;
}

/* Diseño responsive seccion2 ********************************************************/
@media screen and (max-width: 500px) {
  .seccion2 {
    background-image: url(../archivos_movil/FONDO-3.png);
    background-size: cover;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 500px;
  }
  .div1-seccion2 {
    display: flex;
    height: 10%;
  }
  .div2-seccion2 {
    display: flex;
    width: 500px;
    height: 50%;
    align-items: center;
  }
  .div3-seccion2 {
    display: flex;
  }
  .boton1-seccion2:hover {
    display: flex;
    border-radius: 200px;
    height: 65px;
    width: 200px;
    border-style: solid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transform: scale(1.5);
    transition: all 0.5s;
  }
  .texto-en-blanco {
    color: white;
  }
}
/* Estilos de la seccion 3 */
.seccion3 {
  background-image: url(../imagenes/FONDO-04.png);
  background-size: cover;
}

#Shop {
  height: 200px;
  padding-left: 2%;
  padding-top: 2%;
}

.div2-seccion3 {
  height: 60%;
  display: flex;
  align-items: center;
  align-items: stretch;
  justify-content: center;
  padding: 2%;
}

.subdiv-seccion3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.img-seccion3 {
  height: 100%;
  width: 100%;
}

.subdiv-seccion3 {
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

.subdiv2-seccion3 {
  padding: 10%;
}

/*Diseño responsive para seccion 3 ********************************************************/
@media screen and (max-width: 500px) {
  .seccion3 {
    background-image: url(../archivos_movil/FONDO-4.png);
    background-size: cover;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Shop {
    display: none;
  }
  .div2-seccion3 {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .subdiv-seccion3 {
    padding: 0;
    margin: 0;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .a1 {
    height: 33%;
  }
  .img-seccion3 {
    height: 100%;
    width: 100%;
  }
}
/* Estilos de la seccion 4 */
.seccion4 {
  background-image: url(../imagenes/FONDO-05.png);
  background-size: cover;
  background-color: black;
}

.servicios-seccion4 {
  height: 300px;
}

.contenedor-seccion4 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 500px;
}

.padding-lista {
  padding: 15px;
}

/* DISEÑO RESPONSIVE PARA SECCION 4 ************************************************/
@media screen and (max-width: 500px) {
  .seccion4 {
    background-image: url(../archivos_movil/FONDO-5.png);
    background-size: cover;
    max-width: 500px;
    text-decoration: none;
  }
  .seccion4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .servicios-seccion4 {
    height: 10%;
  }
  .contenedor-seccion4 {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
  }
  .div1-seccion4,
  .div2-seccion4,
  .div3-seccion4 {
    display: flex;
    flex-direction: row;
  }
  .h-seccion4 {
    font-size: 25px;
  }
  .padding-lista {
    padding: 0;
    width: 123.69px;
  }
  .lista-servicios {
    padding: 0;
    text-decoration: none;
    margin-top: 20%;
  }
  .li-seccion4 {
    font-size: 10px;
    text-decoration: none;
    color: white;
  }
}
/* Estilos de la seccion 5 */
.seccion5 {
  background: url(../imagenes/FONDO-06.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.div1-seccion5 {
  height: 10%;
}

.div2-seccion5 {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-seccion5 {
  height: 100%;
  width: 100%;
  display: block;
}

.divimagen-seccion5 {
  height: 100%;
}

.div3-seccion5,
.div4-seccion5,
.div5-seccion5,
.div6-seccion5 {
  height: 10%;
  border-bottom: 1px white solid;
  max-width: 50%;
  margin: 10px;
}
.div3-seccion5 .controls,
.div4-seccion5 .controls,
.div5-seccion5 .controls,
.div6-seccion5 .controls {
  width: 100%;
  background-color: transparent;
  padding: 2px;
  color: white;
}

@media screen and (max-width: 500px) {
  .seccion5 {
    background-image: url(../archivos_movil/FONDO-6.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div3-seccion5,
  .div4-seccion5,
  .div5-seccion5,
  .div6-seccion5 {
    height: 10%;
    border-bottom: 1px white solid;
    max-width: 100%;
    margin: 10px;
  }
  .controls {
    width: 100%;
    background-color: transparent;
    padding: 2px;
    color: white;
  }
  .imagen-seccion5 {
    height: 75%;
    width: 75%;
    margin: 0;
  }
  .divimagen-seccion5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Estilos del footer */
.footer {
  background: url(../imagenes/FONDO-07.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 1080px;
  display: flex;
  flex-direction: column;
}

.divh3 {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-image: url(../imagenes/FONDO-07.png);
  background-size: cover;
}

.divh3 h3 {
  font-size: 90px;
}

.navfooter {
  height: 15%;
  background-image: url(../imagenes/FONDO-02.png);
  background-size: cover;
}

.footer-imagenes {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.footer-imagenes1 {
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.div1-footer {
  width: 50%;
  padding: 20px;
}

.div2-footer {
  display: flex;
  width: 50%;
  justify-content: center;
  justify-content: space-evenly;
  align-items: stretch;
}

.tamaño-imagenes-footer {
  height: 75%;
  width: 75%;
}

@media screen and (max-width: 500px) {
  .footer {
    max-width: 500px;
  }
  .divh3 {
    background-image: url(../archivos_movil/FONDO-7.png);
    background-size: cover;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h3-footer {
    display: block;
    justify-content: center;
    font-size: small;
  }
  .navfooter {
    height: 20%;
  }
  .div1-footer {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .footer-imagenes {
    flex-direction: column;
    align-items: center;
  }
  .h3footer {
    font-size: 10px;
  }
  .a-footer {
    text-decoration: none;
    color: white;
  }
  .divh3 h3 {
    font-size: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
