
.footer{
    
    background: url(../imagenes/FONDO-07.jpg);
    background-size: cover;
    margin:0;
    padding: 0;
    height:1080px;
    display: flex;
    flex-direction: column;
}

.divh3{
    height:85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-image: url(../imagenes/FONDO-07.png);
    background-size: cover;
}

.divh3 h3{
    font-size: 90px;
}

.navfooter{
    height: 15%;
    background-image: url(../imagenes/FONDO-02.png) ;
    background-size: cover;
}

.footer-imagenes{
    display: flex;
   justify-content: center;
    align-items: stretch;
    
}
 
.footer-imagenes1{
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}



.div1-footer{
    width:50%;
  padding: 20px;
    
}

.div2-footer{
    display: flex;
    
    width:50%;
    justify-content: center;
    justify-content:space-evenly;
    align-items: stretch;
    
}

.tamaño-imagenes-footer{
    height: 75%;
    width: 75%;
}


@media screen and (max-width:500px){

    .footer{
        max-width: 500px;
    }
  
    .divh3{
        background-image: url(../archivos_movil/FONDO-7.png);
        background-size: cover;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }

    .h3-footer{
        display: block;
        justify-content: center;
        font-size:small;
    }

    .navfooter{
        height: 20%;
    }


    .div1-footer{
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    .footer-imagenes{
        flex-direction: column;
        
        align-items: center;
    }
    .h3footer{
        font-size: 10px;
    }

    .a-footer{
        text-decoration: none;
        color: white;
    }

    .divh3 h3{
        font-size: 40px;
    }
}