.seccion4{
    background-image: url(../imagenes/FONDO-05.png);
        background-size: cover;
    background-color: black;
}

.servicios-seccion4{
    height: 300px;
}

.contenedor-seccion4{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    
   padding-top:10px;
   padding-bottom: 10px;
    height: 500px;
}


.padding-lista{
    padding:15px;
}

/* DISEÑO RESPONSIVE PARA SECCION 4 ************************************************/

@media screen and (max-width:500px){

    .seccion4{
    background-image: url(../archivos_movil/FONDO-5.png);
    background-size: cover;
    }




    
}