.seccion5{
    /*background: url(imagenes/FONDO-06.jpg);
    background-size: cover;*/
    background-color: black;
}


a{
    text-decoration: none;
    color: white;
}

.tamaño-imagenes{
    height:10%;
    width:10%;
}

.proyectos-imagenes1{
    position:absolute;
    right: 35%;
}
.proyectos-imagenes2{
    position:absolute;
    right: 50%;
}
.proyectos-imagenes3{
    position:absolute;
    right: 65%;
}


.lista-servicios{
    color:purple;
}

.contacto{
    color:purple
}

.imagenes-contacto{
    position:absolute;
    left: 400px;
}