.seccion4{
    background-image: url(../imagenes/FONDO-05.png);
        background-size: cover;
    background-color: black;
}

.servicios-seccion4{
    height: 300px;
}

.contenedor-seccion4{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    
   padding-top:10px;
   padding-bottom: 10px;
    height: 500px;
}


.padding-lista{
    padding:15px;
}

/* DISEÑO RESPONSIVE PARA SECCION 4 ************************************************/

@media screen and (max-width:500px){

    .seccion4{
    background-image: url(../archivos_movil/FONDO-5.png);
    background-size: cover;
    max-width: 500px;
    text-decoration: none;
    }
   
    .seccion4{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }



    .servicios-seccion4{
        height: 10%;
    }
   
    .contenedor-seccion4{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
    }

    .div1-seccion4,
    .div2-seccion4,
    .div3-seccion4{
        display: flex;
        flex-direction: row;
    }

    .h-seccion4{
        font-size: 25px;
    }

    .padding-lista{
        padding: 0;
        width:123.69px;
    }

    .lista-servicios{
        padding:0;
        text-decoration: none;
        margin-top:20%;
    }
    .li-seccion4{
        font-size: 10px;
        text-decoration: none;
        color: white;
    }

    
}