*{
    margin: 0%;
    padding:0%;

}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

html{
    font-family: sans-serif ;
    color:white;


}



@import "tiendaHeader";

@import "tiendaSeccion1";

